---

---
<div class="flex justify-center items-center md:h-screen bg-black z-20">
  <img 
    src="/Inicio/codigo.jpg"
    alt="Interfaz de Linear" 
    class="w-full sm:w-[90%] md:w-[70%] max-w-5xl rounded-md sm:rounded-lg md:rounded-xl shadow-2xl 
           transform rotate-0 sm:-rotate-3 md:-rotate-[8deg] hover:rotate-0 transition-transform duration-700 ease-out z-10"
  />
</div>


