<div class="relative min-h-screen">
  <!-- Fondo -->
  <div class="absolute inset-0 bg-white dark:bg-gray-950 overflow-hidden">
    <div class="absolute inset-0 opacity-[0.3] dark:opacity-[0.2]">
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 1200 600"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <linearGradient
            id="wave-gradient-1"
            x1="0%"
            y1="0%"
            x2="100%"
            y2="0%"
          >
            <stop offset="0%" stop-color="#3b82f6" stop-opacity="0.3"></stop>
            <stop offset="100%" stop-color="#8b5cf6" stop-opacity="0.3"></stop>
          </linearGradient>
          <linearGradient
            id="wave-gradient-2"
            x1="0%"
            y1="0%"
            x2="100%"
            y2="0%"
          >
            <stop offset="0%" stop-color="#8b5cf6" stop-opacity="0.3"></stop>
            <stop offset="100%" stop-color="#ec4899" stop-opacity="0.3"></stop>
          </linearGradient>
          <linearGradient
            id="wave-gradient-3"
            x1="0%"
            y1="0%"
            x2="100%"
            y2="0%"
          >
            <stop offset="0%" stop-color="#ec4899" stop-opacity="0.3"></stop>
            <stop offset="100%" stop-color="#3b82f6" stop-opacity="0.3"></stop>
          </linearGradient>
        </defs>

        <path
          d="M0,50 C100,100 200,0 300,50 C400,100 500,0 600,50 C700,100 800,0 900,50 C1000,100 1100,0 1200,50 V600 H0 Z"
          fill="url(#wave-gradient-1)"></path>
        <path
          d="M0,150 C100,200 200,100 300,150 C400,200 500,100 600,150 C700,200 800,100 900,150 C1000,200 1100,100 1200,150 V600 H0 Z"
          fill="url(#wave-gradient-2)"></path>
        <path
          d="M0,250 C100,300 200,200 300,250 C400,300 500,200 600,250 C700,300 800,200 900,250 C1000,300 1100,200 1200,250 V600 H0 Z"
          fill="url(#wave-gradient-3)"></path>
      </svg>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-b from-white via-white/0 to-white dark:from-gray-950 dark:via-gray-950/0 dark:to-gray-950"
    >
    </div>
  </div>
  <!-- Contenido -->

  <div class="relative pt-36 p-10 text-white z-30">
    <div class="form-container">
      <div class="form">
        <span class="heading">Contacto</span>
        <input placeholder="Nombre" type="text" class="input" />
        <input placeholder="Email" id="mail" type="email" class="input" />
        <textarea
          placeholder="Mensaje"
          rows="10"
          cols="30"
          id="message"
          name="message"
          class="textarea"></textarea>
        <div class="button-container">
          <div class="send-button">Enviar</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .orange {
    color: #0180ff;
  }

  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #0180ff;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }

  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }

  .form-container .form .input:focus {
    border-left: 5px solid #0180ff;
  }

  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #0180ff;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .form-container .form .textarea:focus {
    border-left: 5px solid #0180ff;
  }

  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }

  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #0180ff;
    padding: 10px;
    color: #ebebeb;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #0180ff;
    color: #0180ff;
  }

  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #0180ff);
    flex-basis: 30%;
  }

  .form-container
    .form
    .button-container
    .reset-button-container
    .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #0180ff;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%
    );
    transition: all 0.2s ease-in-out;
  }

  .form-container
    .form
    .button-container
    .reset-button-container
    .reset-button:hover {
    background: #0180ff;
    color: #001925;
  }
</style>
